*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4E5665;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #8a9099 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #8a9099 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #8a9099 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #8a9099 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #8a9099 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}


body {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.header_top {
    background-image: url(https://images.unsplash.com/photo-1655374357824-f51336c891ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.header_top_iner {
    font-family: Georgia;
    border: 2px solid #ECB84C;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
}

.header_title {
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
    font-weight: 700;
}

.header_text {
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: -11px;
}

.header_text::after,
.header_text::before {
    content: "";
    border: 2px solid #ECB84C;
    width: 100%;
}

.header_text::after {
    margin-left: 30px;
}

.header_text::before {
    margin-right: 30px;
}

.menu {
    border-bottom: 1px solid rgba(208, 212, 216, .5);
}

.menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_list_link {
    padding: 24px 15px 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #909090;
    margin: 0 10px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
}

.menu_list_link:hover {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
}

.main {
    position: relative;
    /*padding: 80px 0;*/
    max-width: 100%;
    min-height: 100%;
    /*padding: 0 15px;
    margin: 0 auto;*/

    /*position: relative;
    max-width: 540px;
    min-height: 100%;*/
    margin: 0 auto;
    box-sizing: border-box;
    padding: 36px;
}

.main_header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-family: Georgia;
    font-weight: bold;
    color: #4E5665;
    margin-bottom: 65px;
}

.main_title {
    font-size: 32px;
    line-height: 38px;
    color: #4E5665;
    margin: 0;
    /*margin-bottom: 22px;*/
}

.button {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    color: #65A08A;
    border: 1px solid #65A08A;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.2s;
    overflow: hidden;
}

.button_line {
    position: absolute;
    display: block;
}

.button_line_top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #65A08A);
}

.button:hover .button_line_top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button_line_bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #65A08A);
}

.button:hover .button_line_bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button_line_left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #65A08A);
}

.button:hover .button_line_left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.button_line_right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #65A08A);
}

.button:hover .button_line_right {
    top: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.button:hover {
    box-shadow: 0 0 10px #74BEAC, 0 0 40px #80d7c9, 0 0 80px #80d7c9;
    background-color: #74BEAC;
    color: #fff;
    transition: 1s;
    border: 1px solid #74BEAC;
    /*opacity: 0.5; 65a08a 80d7c9 67d7a8*/
}

.CV {
    font-family: Georgia;
    color: #505050;
    margin: 0 100px 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image {
    max-width: 27%;
    min-height: 27%;
    display: block;
    margin-right: 75px;
}

.advice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 75%;
    max-width: 75%;
    font-size: 16px;
    line-height: 1.1;
}

.ind_aspect {
    font-size: 18px;
}

.footer {
    background-color: #F8F8F8;
    padding: 32px 0 32px;
}

.footer_title {
    text-align: end;
    font-family: Georgia;
    font-size: 24px;
    line-height: 40px;
    color: #4E5665;
    margin: 0 200px 40px 0;
}

.footer_items {
    display: flex;
    justify-content: space-evenly;
}

.footer_item {
    min-width: 3%;
}

.footer_item a {
    display: flex;
}

.footer_copy {
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
}